@page "/"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Financial_ForeCast.Models
@using Financial_ForeCast.Services

<MudContainer Class="mt-16">
    @if (isLoading)
    {
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" Size="Size.Large" />
    }
    else
    {
        <MudGrid Class="mt-8">
            @foreach (var item in mainMenuCards)
            {
                <MudItem xs="6" sm="6" md="4">
                    <MudLink Href="@item.Link" Underline="Underline.None">
                        <MudCard Elevation="25" Class="rounded-lg pb-4" Style="height: 25vh">
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudText Typo="Typo.h5" Align="Align.Center">@item.Name</MudText>
                                </CardHeaderContent>
                            </MudCardHeader>

                            <MudCardContent Style="height: auto">
                                <div class="flex-grow-1">
                                    <div class="d-flex align-center justify-center mud-height-full py-4">
                                        <MudText Typo="Typo.h4">@item.Amount</MudText>
                                    </div>
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudLink>
                </MudItem>
            }
        </MudGrid>
    }
</MudContainer>

@code {
    
    public List<MainMenuCards> mainMenuCards;
    private LocalDbService _dbService;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _dbService = new LocalDbService();
        await LoadData();
    }

    private async Task LoadData()
    {
        isLoading = true;
        mainMenuCards = await _dbService.GetMainMenuCards();
        isLoading = false;
    }
}